.page-container {
    background-color: purple;
    height: 100vh;
    flex-direction: column;
    font-family: 'roboto', sans-serif;
}

.pega-header {
    background-color: aqua;
    flex: 0 0 64px;
}

.page-body {
    flex: 1 1 100%;
    flex-direction: column;
}

.page-title {
    align-items: center;
    background-color: rgba(214, 243, 210, 1);
    flex: 0.5 0.25 112px;
}

.page-title .title {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
    padding: 4px 8px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: white;
}

.page-title .title h3 {
    color: rgba(69, 73, 66, 1);
    font-weight: 100;
    margin: 0%;
}

.product-detail-wraper {
    background-color: rgba(214, 243, 210, 1);
    padding-top: 32px;
    justify-content: center;
    flex: 1 1 100%;
}

.product-detail {
    padding: 10px;
    margin: 0 20vw;
    align-self: flex-start;
    flex-direction: column;
    background-color: rgba(214, 243, 210, 1);

}

.detail-header {

    justify-content: end;
    background-color: rgba(255, 255, 255, 1);
    padding: 10px;
}

.product-image {
    align-items: center;
    justify-content: center;
    flex: 1 1 40%;
    background-color: rgba(255, 255, 255, 1);
    padding: 32px;
}

.product-image img {
    width: 100%;
}

.pega-header nav {
    flex: 1 1 100%;
}

.product-description {
    justify-content: space-between;
    flex: 1 1 60%;
    padding: 32px;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 1);

}

.btn-agregar {
    align-items: center;
    gap: 12px;

}

.carrito {
    gap: 14px;
}

.btn-romder {
    border-radius: 100%;
}

.btn-x {
    color: rgb(13, 13, 14);
    height: 20px;
    width: 20px;
    border: none;
    text-align: center;
}